/*
 * App2Clap
 * Resource script
 * Copyright 2025 james Teh
 * License: GNU General Public License version 2.0
 */

#include <windows.h>
#include <CommCtrl.h>
#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK

ID_APP2CLAP_DLG DIALOGEX 0, 0, 250, 250
	CAPTION "App2Clap"
	STYLE DS_CONTROL | WS_CHILD
BEGIN
	CONTROL "Capture a specific process only", ID_PROCESS_INCLUDE, "Button", BS_AUTORADIOBUTTON, 10, 10, 220, 20
	CONTROL "Capture everything except a specific process", ID_PROCESS_EXCLUDE, "Button", BS_AUTORADIOBUTTON, 10, 35, 220, 20
	CONTROL "Capture everything (beware feedback)", ID_EVERYTHING, "Button", BS_AUTORADIOBUTTON, 10, 60, 220, 20
	COMBOBOX ID_PROCESS, 10, 90, 220, 100, CBS_DROPDOWNLIST | WS_TABSTOP
	LTEXT "Filter:", IDC_STATIC, 10, 125, 40, 20
	EDITTEXT ID_FILTER, 55, 125, 175, 20
	PUSHBUTTON "Refresh", ID_REFRESH, 10, 160, 60, 20
	PUSHBUTTON "Capture", ID_CAPTURE, 80, 160, 60, 20
END

ID_CLAP2APP_DLG DIALOGEX 0, 0, 250, 250
	CAPTION "Clap2App"
	STYLE DS_CONTROL | WS_CHILD
BEGIN
	LTEXT "Output device:", IDC_STATIC, 10, 10, 65, 20
	COMBOBOX ID_DEVICE, 80, 10, 160, 100, CBS_DROPDOWNLIST | WS_TABSTOP
	PUSHBUTTON "Send", ID_SEND, 10, 190, 60, 20
END

ID_IN2CLAP_DLG DIALOGEX 0, 0, 250, 250
	CAPTION "In2Clap"
	STYLE DS_CONTROL | WS_CHILD
BEGIN
	LTEXT "Input device:", IDC_STATIC, 10, 10, 65, 20
	COMBOBOX ID_DEVICE, 80, 10, 160, 100, CBS_DROPDOWNLIST | WS_TABSTOP
	PUSHBUTTON "Capture", ID_CAPTURE, 10, 190, 60, 20
END
